<div ng-include src="'assets/partials/header.html'"></div>

<div class="container-fluid">

    <h2>Modificar contraseña</h2>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <form name="form" ng-submit="save()">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td>Contase&ntilde;a anterior</td>
                        <td>
                            <input name="old_password" type="password" ng-model="password.old"
                                   class="input-tag" required/>
                            <div ng-show="form.old_password.$dirty" ng-messages="form.old_password.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Contase&ntilde;a nueva</td>
                        <td>
                            <input name="new_password" type="password" ng-model="password.new"
                                   class="input-tag" required/>
                            <div ng-show="form.new_password.$dirty" ng-messages="form.new_password.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Repetir contase&ntilde;a</td>
                        <td>
                            <input name="repeat_new_password" type="password" ng-model="password.repeat_new"
                                   class="input-tag" required/>
                            <div ng-show="form.repeat_new_password.$dirty" ng-messages="form.repeat_new_password.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-include src="'assets/partials/save.html'"></div>
            </form>
        </div>
    </div>
</div>


