*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

target/
.idea/
*.iml
armored-cars-service/src/main/webapp/components/
armored-cars-service/src/main/webapp/dist/
armored-cars-service/src/main/webapp/node_modules/