<div ng-include src="'assets/partials/header.html'"></div>

<div class="container-fluid">

    <h2 ng-if="isNewClient()">Registrar cliente</h2>
    <h2 ng-if="section == 'CLIENT-EDIT'">Editar cliente</h2>
    <h2 ng-if="section == 'CLIENT-VIEW'">Datos del cliente</h2>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <form name="clientForm" ng-submit="save()">
                <table class="table table-hover">
                    <tbody>
                    <tr ng-if="!isNewClient()">
                        <td>Id de cliente</td>
                        <td>{{client.id}}</td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>
                            <input name="name" ng-if="canEditData()" type="text" ng-model="client.name"
                                   class="input-tag" ng-pattern="/^asd$/" required/>
                            <p ng-if="!canEditData()">{{client.name}}</p>
                            <div ng-show="clientForm.name.$dirty" ng-messages="clientForm.name.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                                <div ng-message="pattern">El nombre no tiene un formato v&aacute;lido</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo de documento</td>
                        <td>
                            <select ng-if="canEditData()" ng-model="client.document_type"
                                    ng-change="documentTypeChanged()"
                                    ng-options="document_type for document_type in document_types"></select>
                            <p ng-if=" !canEditData()">{{client.document_type}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Número de documento</td>
                        <td>
                            <input name="document" ng-if="canEditData()" type="text" ng-model="client.document"
                                   ng-pattern="getDocumentNumberPattern()" required class="input-tag">
                            <p ng-if="!canEditData()">{{client.document}}</p>
                            <div ng-show="clientForm.document.$dirty" ng-messages="clientForm.document.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                                <div ng-message="pattern">
                                    El n&uacute;mero de documento no tiene un formato v&aacute;lido
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>
                            <input ng-if="canEditData()" type="text" ng-model="client.email" class="input-tag">
                            <p ng-if="!canEditData()">{{client.email}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Teléfono</td>
                        <td>
                            <input ng-if="canEditData()" type="text" ng-model="client.phone" class="input-tag">
                            <p ng-if="!canEditData()">{{client.phone}}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-include src="'assets/partials/save.html'"></div>
            </form>
        </div>
    </div>
</div>


