<div ng-include src="'assets/partials/header.html'"></div>

<div class="container-fluid">

    <h2 ng-if="isNew()">Registrar factura</h2>
    <h2 ng-if="section == 'BILL-EDIT'">Editar factura</h2>
    <h2 ng-if="section == 'BILL-VIEW'">Datos de la factura</h2>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <form name="form" ng-submit="save()">
                <table class="table table-hover">
                    <tbody>
                    <tr ng-if="!isNew()">
                        <td>Id de factura</td>
                        <td>{{bill.id}}</td>
                    </tr>
                    <tr>
                        <td>Fecha</td>
                        <td>
                            <input name="date" ng-if="canEditData()" type="date" ng-model="bill.date"
                                   class="input-tag" required/>
                            <p ng-if="!canEditData()">{{bill.date|date:'dd-MM-yyyy'}}</p>
                            <div ng-show="form.date.$dirty" ng-messages="form.date.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                                <div ng-message="pattern">El nombre no tiene un formato v&aacute;lido</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo de factura</td>
                        <td>
                            <select ng-if="canEditData()" ng-model="bill.bill_type_code"
                                    ng-change="updateVatAndTotal()"
                                    ng-options="bill_type_code.id as bill_type_code.id for bill_type_code in bill_type_codes"></select>
                            <p ng-if=" !canEditData()">{{bill.bill_type_code}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>N&uacute;mero de comprobante</td>
                        <td>
                            <input name="number" ng-if="canEditData()" type="text" ng-model="bill.number" required
                                   class="input-tag">
                            <p ng-if="!canEditData()">{{bill.number}}</p>
                            <div ng-show="form.number.$dirty" ng-messages="form.number.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>N&uacute;mero de factura</td>
                        <td>
                            <input name="apply_bill_id" ng-if="canEditData()" type="text" ng-model="bill.apply_bill_id"
                                   class="input-tag">
                            <p ng-if="!canEditData()">{{bill.apply_bill_id}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>N&uacute;mero de blindaje</td>
                        <td>
                            <input name="armored_id" ng-if="canEditData()" type="text" ng-model="bill.armored_id"
                                   required
                                   class="input-tag">
                            <p ng-if="!canEditData()">{{bill.armored_id}}</p>
                            <div ng-show="form.armored_id.$dirty" ng-messages="form.armored_id.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>N&uacute;mero de cliente</td>
                        <td>
                            <input name="bill_to_id" ng-if="canEditData()" type="text" ng-model="bill.bill_to_id"
                                   required
                                   class="input-tag">
                            <p ng-if="!canEditData()">{{bill.bill_to_id}}</p>
                            <div ng-show="form.bill_to_id.$dirty" ng-messages="form.bill_to_id.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Moneda</td>
                        <td>
                            <select ng-if="canEditData()" ng-model="bill.currency_code"
                                    ng-init="bill.currency_code = bill.currency_code || currencies[0].code"
                                    ng-options="currency.code as currency.code for currency in currencies"></select>
                            <p ng-if=" !canEditData()">{{bill.currency_code}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Conversi&oacute;n</td>
                        <td>
                            <input name="conversion" ng-if="canEditData()" type="number" ng-model="bill.conversion"
                                   required
                                   ng-change="updateVatAndTotal()"
                                   min="0.01"
                                   class="input-tag">
                            <p ng-if="!canEditData()">{{bill.conversion}}</p>
                            <div ng-show="form.conversion.$dirty" ng-messages="form.conversion.$error"
                                 style="color:maroon" role="alert">
                                <div ng-message="required">El campo es requerido</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Monto no gravado</td>
                        <td>
                            <input name="untaxed_amount" ng-if="canEditData()" type="number"
                                   ng-change="updateVatAndTotal()"
                                   ng-model="bill.untaxed_amount"
                                   class="input-tag">
                            <p ng-if="!canEditData()">{{bill.untaxed_amount}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Monto gravado</td>
                        <td>
                            <input name="taxed_amount" ng-if="canEditData()" type="number"
                                   ng-change="updateVatAndTotal()"
                                   ng-model="bill.taxed_amount"
                                   min="0.01"
                                   class="input-tag">
                            <p ng-if="!canEditData()">{{bill.taxed_amount}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Al&iacute;cuota</td>
                        <td>
                            <select ng-if="canEditData()" ng-model="bill.aliquot"
                                    ng-change="updateVatAndTotal()"
                                    ng-options="aliquot as aliquot for aliquot in aliquots"></select>
                            <p ng-if=" !canEditData()">{{bill.aliquot}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>I.V.A.</td>
                        <td>
                            <p>{{bill.vat_amount}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>
                            <p>{{bill.total_amount}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Anticipo financiero</td>
                        <td>
                            <input type="checkbox" ng-disabled="!canEditData()" ng-model="bill.financial_advance">
                        </td>
                    </tr>
                    <tr>
                        <td>Descripci&oacute;n</td>
                        <td>
                            <input ng-if="canEditData()" type="text" ng-model="bill.description">
                            <p ng-if=" !canEditData()">{{bill.description}}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-include src="'assets/partials/save.html'"></div>
            </form>
        </div>
    </div>
</div>


