<div ng-include src="'assets/partials/header.html'"></div>

<div class="container-fluid">

    <h2>Facturaci&oacute;n</h2>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1">Tipo de factura</th>
                    <th class="col-xs-1">N&uacute;mero de factura</th>
                    <th class="col-xs-1">Total</th>
                    <th class="col-xs-1">Anticipo financiero</th>
                    <th class="col-xs-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bill in bills | startFrom: (current_page - 1) * page_size | limitTo: page_size ">
                    <td ng-click="view(bill.id)">{{bill.bill_type_code|BillTypeCodeFormatter}}</td>
                    <td ng-click="view(bill.id)">{{bill.number|BillNumberFormatter}}</td>
                    <td ng-click="view(bill.id)">{{bill.total_amount|AmountFormatter:bill.currency_code}}</td>
                    <td ng-click="view(bill.id)">{{bill.financial_advance|BooleanFormatter}}</td>
                    <td>
                        <a ng-click="edit(bill.id)">Editar</a>
                        &nbsp;|&nbsp;
                        <a ng-click="delete(bill.id)">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row text-center">
                <pagination boundary-links="true" total-items="bills.length" page="current_page" class="pagination-sm"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            items-per-page="page_size">
                </pagination>
            </div>
        </div>
    </div>
</div>