<nav class="header navbar navbar-default navbar-contracts" role="navigation">

  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="logo"><img src="assets/logo.png"></li>
        <li ng-class="{active: $root.section == 'REPROCESS' }"><a href="#/reprocess">Reprocess</a></li>
        <li ng-class="{active: ['EXECUTION-CONFIG', 'EXECUTION-CONFIG-EDIT'].includes($root.section) }"><a href="#/executionConfig">Executions</a></li>
        <li ng-class="{active: $root.section == 'PENDINGSNC' }"><a href="#/pendingsNC">PendingsNC</a></li>
        <li  ng-form="selectCountryCodeForm">
          <div class="container-radio" >
          <label class="label-radio" ng-show="$root.section != 'PENDINGSNC'">
            <input type="radio" ng-model="$root.countryCode" value="pe" ng-change='countryCodeUpdated()'>
            Peru
          </label>
          <label class="label-radio">
            <input type="radio" ng-model="$root.countryCode" value="ec" ng-change='countryCodeUpdated()'>
            Ecuador
          </label>
          </div>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right ">
        <li><a ng-click="$root.logout()"><i class="fa fa-sign-out"></i> Log out</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right append-top-15">
        <li><label>{{$root.logged_user}}</label></li>
      </ul>

      <ul class="nav navbar-nav navbar-right append-top-15 append-right-10" ng-show="$root.countryCode">
        <li class="label label-danger" ng-show="$root.env == 'PROD'"><i class="fa fa-exclamation-triangle"></i> PROD</li>
        <li class="label label-warning" ng-show="$root.env == 'RC'"><i class="fa fa-exclamation-triangle"></i> RC</li>
        <li class="label label-success" ng-show="$root.env == 'DEV'"><i class="fa fa-exclamation-triangle"></i>  DEV</li>
      </ul>

    </div>
  </div>
</nav>