<div id="bill_modal" ng-show="modals.bill.visible" class="modal">

    <div class="modal-content">
        <div class="modal-header">
            <span ng-click="hideBillModal()" class="close">&times;</span>
            <label class="modal-label">Tipo de factura:&nbsp;</label>
            <select ng-model="modals.bill.bill_type_code"
                    ng-options="bill_type_code.id as bill_type_code.id|BillTypeCodeFormatter for bill_type_code in modals.bill.bill_type_codes">
            </select>
            <button type="button" ng-click="billModalSearch()" class="modal-search">Buscar</button>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1">Tipo de factura</th>
                    <th class="col-xs-1">N&uacute;mero de factura</th>
                    <th class="col-xs-1">Total</th>
                    <th class="col-xs-1">Anticipo financiero</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bill in modals.bill.items | startFrom: (current_page - 1) * page_size | limitTo: page_size ">
                    <td ng-click="selectBill(bill)">{{bill.bill_type_code|BillTypeCodeFormatter}}</td>
                    <td ng-click="selectBill(bill)">{{bill.number|BillNumberFormatter}}</td>
                    <td ng-click="selectBill(bill)">{{bill.total_amount|AmountFormatter:bill.currency_code}}</td>
                    <td ng-click="selectBill(bill)">{{bill.financial_advance|BooleanFormatter}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <div class="row text-center">
                <pagination boundary-links="true" total-items="modals.bill.items.length" page="current_page"
                            class="pagination-sm"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            items-per-page="page_size">
                </pagination>
            </div>
        </div>
    </div>

</div>