<div class="bottom-container" ng-show="$root.globalError" ng-click="$root.globalError = null">
	<div class="alert alert-danger">{{$root.globalError}}</div>
</div>

<div class="bottom-container" ng-show="$root.globalWarning" ng-click="$root.globalWarning = null">
	<div class="alert alert-warning">{{$root.globalWarning}}</div>
</div>

<div class="bottom-container" ng-show="$root.globalSuccess" ng-click="$root.globalSuccess = null">
	<div class="alert alert-success">{{$root.globalSuccess}}</div>
</div>