<div>
    <span><strong>{{uploadFileTexts.title}}</strong></span>
    <input type="file" id="file" ngf-select ngf-change="selectFile($files)" ng-model="picFile" name="file"
           accept="application/vnd.ms-excel" ng-disabled="isUploadingFile" class="select-file"/>
    <button name="file_remove" type="button"
            class="remove-selected"
            ng-show="selectedFile"
            ng-click="deselectFile()"
            ng-disabled=" isUploadingFile">
        &times;
    </button>
    <button type="button" ng-show="selectedFile" ng-click="uploadFile()" ng-disabled="isUploadingFile">
        Subir archivo
    </button>
</div>