<div>
    <span><strong>{{uploadFileTexts.title}}</strong></span>
    <input id="file" type="file" name="file" onchange="angular.element(this).scope().selectFile(this.files)"/>
    <!--
    <button name="file_remove" type="button"
             class="remove-selected"
             ng-show="selectedFile"
             ng-click="deselectFile()">
         &times;
     </button>
     -->
     <button type="button" ng-show="selectedFile" ng-click="uploadFile()">
         Subir archivo
     </button>
 </div>