<div class="container login">
	<div class="text-center row">
		<h1>Autos blindados</h1>
	</div>
</div>
<hr/>
<div class="container login">
	<div class="login-box" ng-keypress="$event.keyCode == 13 && login()">
		<h3 class="page-title">Ingreso</h3>
		<div class="text-center">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.user_name" placeholder="Usuario">
			</div>
			<div class="form-group">
			  <input type="password" class="form-control" ng-model="user.password" placeholder="Contaseña">
			</div>
		</div>
		<a class="btn-success btn" name="commit" type="submit" ng-click="login()"  ><i class="fa fa-sign-in"></i> Entrar</a>
		<hr>

	</div>
</div>
