<div ng-include src="'assets/partials/header.html'"></div>

<div class="container-fluid">

    <h2>Clientes</h2>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1">Nombre</th>
                    <th class="col-xs-1">Tipo de documento</th>
                    <th class="col-xs-1">Número de documento</th>
                    <th class="col-xs-1">E-mail</th>
                    <th class="col-xs-1">Teléfono</th>
                    <th class="col-xs-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in clients | startFrom: (current_page - 1) * page_size | limitTo: page_size ">
                    <td ng-click="view(client.id)">{{client.name}}</td>
                    <td ng-click="view(client.id)">{{client.document_type}}</td>
                    <td ng-click="view(client.id)">{{client.document}}</td>
                    <td ng-click="view(client.id)">{{client.email}}</td>
                    <td ng-click="view(client.id)">{{client.phone}}</td>
                    <td ng-show="client.id != 1">
                        <a ng-click="edit(client.id)">Editar</a>
                        &nbsp;|&nbsp;
                        <a ng-click="delete(client.id)">Eliminar</a></td>
                </tr>
                </tbody>
            </table>

            <div class="row text-center">
                <pagination boundary-links="true" total-items="clients.length" page="current_page" class="pagination-sm"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            items-per-page="page_size"></pagination>
            </div>
        </div>
    </div>
</div>