<!DOCTYPE html>
<html>
<head>
    <title>Armored Cars Web </title>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/animate-css/animate.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/angular-loading-bar/build/loading-bar.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="assets/base.css">
    <link rel="stylesheet" href="assets/modal.css">

    <!-- Angular -->
    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="assets/angular-resource/angular-resource.min.js"></script>
    <script src="assets/angular-cookies/angular-cookies.min.js"></script>
    <script src="assets/angular-route/angular-route.min.js"></script>
    <script src="assets/angular-messages/angular-messages.min.js"></script>
    <script src="assets/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="assets/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="assets/angular-ui-mask/dist/mask.js"></script>

    <script src="assets/lodash/lodash.min.js"></script>

    <!-- TextAngular -->
    <script src="assets/textAngular/textAngular.min.js"></script>
    <script src="assets/textAngular/textAngular-sanitize.min.js"></script>


    <script src="assets/angular-md5/angular-md5.min.js"></script>

    <!-- DateTimePicker -->
    <script src="assets/jquery/dist/jquery.min.js"></script>
    <script src="assets/moment/min/moment.min.js"></script>
    <script src="assets/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/angular-bootstrap-datetimepicker-directive/angular-bootstrap-datetimepicker-directive.min.js"></script>

    <script src="assets/components.js"></script>
    <script src="assets/script.js"></script>

</head>
<body ng-app="ArmoredCars" >
<div ng-include src="'assets/partials/notifications.html'"></div>
<div ng-view></div>
</body>
</html>
