<div ng-include src="'assets/partials/header.html'"></div>

<div class="container-fluid">

    <h2>Blindajes</h2>
    <hr/>
    <div>
        <span>Subir excel de blindados</span>
        <input id="file" type="file" name="file"
               onchange="$('#upload-file-info').html($(this).val().replace(/\\/g, '/').replace(/.*\//, '')); angular.element(this).scope().selectFile(this.files)"/>
        <button type="button" ng-disbled="selectedFile" ng-click="uploadFile()">
            Subir archivo
        </button>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-3">C&oacute;digo</th>
                    <th class="col-xs-3">Marca</th>
                    <th class="col-xs-3">Titular (RENAR)</th>
                    <th class="col-xs-3"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="armored in armoreds | startFrom: (current_page - 1) * page_size | limitTo: page_size ">
                    <td ng-click="view(armored.id)">{{armored.code}}</td>
                    <td ng-click="view(armored.id)">{{armored.car.brand}}</td>
                    <td ng-click="view(armored.id)">{{armored.billing_and_reference.owner}}</td>
                    <td>
                        <a ng-click="edit(armored.id)">Editar</a>
                        &nbsp;|&nbsp;
                        <a ng-click="delete(armored)">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row text-center">
                <pagination boundary-links="true" total-items="armoreds.length" page="current_page"
                            class="pagination-sm"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            items-per-page="page_size">
                </pagination>
            </div>
        </div>
    </div>
</div>