<div ng-include src="'assets/partials/header.html'"></div>

<div class="container-fluid">

    <h2>Cobranzas</h2>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1">Id cobranza</th>
                    <th class="col-xs-1">Total</th>
                    <th class="col-xs-1">Fecha</th>
                    <th class="col-xs-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="collection in collections | startFrom: (current_page - 1) * page_size | limitTo: page_size ">
                    <td ng-click="view(collection.id)">{{collection.id}}</td>
                    <td ng-click="view(collection.id)">{{collection.total_amount}}</td>
                    <td ng-click="view(collection.id)">{{collection.date|date:'dd-MM-yyyy'}}</td>
                    <td>
                        <a ng-click="edit(collection.id)">Editar</a>
                        &nbsp;|&nbsp;
                        <a ng-click="delete(collection)">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row text-center">
                <pagination boundary-links="true" total-items="collections.length" page="current_page" class="pagination-sm"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            items-per-page="page_size">
                </pagination>
            </div>
        </div>
    </div>
</div>